$col: white;

button {
  margin: 0;
  padding: 0;
}

.container {
  margin: 15px;
  color: white;
}

.header {
  background-image: url("../images/main.png");
  height: 740px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 1319px;
}

.cls-1 {
  fill: #fff;
  fill-rule: evenodd;
  margin-left: 10px;
}

.header__form {
  height: 60px;
  width: 650px;
  background-color: white;
  display: block;
  margin: auto;
  position: relative;
  padding-bottom: 1px;
  text-align: center;
}

.header__form-border {
  border: none;
}

.header__input {
  height: 60px;
  padding: 0;
  width: 500px;
  text-align: center;
  letter-spacing: 2px;
}

.header__form__button {
  width: 145px;
  height: 55px;
  float: right;
  background-color: #5474fd;
  margin-top: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 0px;
  box-sizing: border-box;
}

$up: uppercase;
$cap: capitalize;
$jose: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;

.header__form__button-text {
  text-transform: $up;
  color: $col;
  font-family: $aleo;
  font-size: 14px;
  letter-spacing: 2px;
}

.header__title {
  font-family: $jose;
  text-transform: $up;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin: 0;
  padding-top: 260px;
  letter-spacing: 10px;
}

.header__subtitle {
  font-family: $jose;
  text-align: center;
  font-size: 22px;
  margin: 0;
  letter-spacing: 8px;
  padding-bottom: 50px;
}

::placeholder {
  color: #999999;
  font-family: $jose;
  opacity: 1;
  font-size: 14px;
}

:-ms-input-placeholder {
 color: #999999;
 font-family: $jose;
 font-size: 14px;
 letter-spacing: 2px;
}

::-ms-input-placeholder {
 color: #999999;
 font-family: $jose;
 font-size: 14px;
 letter-spacing: 2px;
}

.header__scroll {
  font-family: $jose;
  text-transform: $cap;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
}

.cls-2 {
  fill: #fff;
  fill-rule: evenodd;
}

.menu {
  background-color: #5474fd;
  height: 80px;
  text-align: center;
  width: 1319px;
}

.menu-container {
  width: 1110px;
  height: 80px;
  margin: auto;
  display: block;
}

.menu__items__main {
  display: inline-block;
  float: left;
  font-family: $jose;
  font-size: 24px;
  font-weight: bold;
  text-transform: $up;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 27px;
}

.menu__items {
  float: right;
  display: inline-block;
  margin-top: 27px;
}

.menu__items__text {
  display: inline-block;
  padding-left: 25px;
  font-family: $aleo;
  font-size: 14px;
  text-transform: $up;
}

.choose {
  background-image: url("../images/why.png");
  height: 685px;
  width: 1319px;
}

.choose-container {
  width: 1110px;
  height: 685px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choose__text {
  width: 540px;
}

.choose__text__title-font {
  font-family: $aleo;
  font-size: 36px;
  text-transform: $cap;
  margin: 0;
  padding-bottom: 60px;
}

.choose__text-font {
  font-family: $jose;
  font-size: 16px;
  line-height: 1.6;
}

.button {
  margin-top: 50px;
  width: 225px;
  height: 60px;
  background-image: url("../images/button.png");
}

.button__text {
  font-family: $aleo;
  text-transform: $up;
  color: $col;
  font-size: 16px;
  letter-spacing: 2px;
}

.choose__img {
  width: 540px;
  position: relative;
}

.choose__img__house {
  position: absolute;
  left: 65px;
}

.choose__img__mount {
  position: absolute;
  left: 190px;
  top: 225px;
}
